body {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 28px;
  line-height: 1.6;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
}

h1 {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
}

#personal-info {
  display: flex;
  flex-direction: row;
}

aside {
  width: 16%;
  padding-left: 15px;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
}

#info-of-me {
  width: 84%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-block-start: 0.25em;
  margin-block-end: 0.5em;
}

img {
  width: 200px;
  border: 10px solid lightgray;
  margin-right: 10px;
}

#img-and-info {
  display: flex;
}

.list {
  padding-left: 35px;
}

#red {
  color: lightcoral;
}

#blue {
  color: deepskyblue;
}

#more-info {
  margin-top: 10px;
  border: 10px solid white;
  border-radius: 10px;
  background-color: white;
}