body {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 28px;
  line-height: 1.6;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
}

h1 {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
}

.red {
  color: lightcoral;
}

.blue {
  color: deepskyblue;
}

body > p {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

h2 {
  text-align: center;
  border-top: 10px solid white;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#first-day {
  background-color: white;
  border-radius: 10px;
}

#first-day p {
  padding: 15px;
  background-color: lightgray;
  border: 20px solid white;
}

h3 {
  border-left: 10px solid white;
  text-decoration: underline;
  text-align: center;
}

img {
  width: 200px;
  height: 290px;
  border: 10px solid lightgray;
  margin-left: 15px;
}

#first-meal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-left: 5px;
}

#first-meal-text {
  display: flex;
  flex-direction: column;
}

#text-one {
  padding: 15px;
  background-color: lightgray;
  border-left: 20px solid white;
  border-right: 20px solid white;
}

#text-two {
  padding: 15px;
  background-color: lightgray;
  border-left: 20px solid white;
  border-right: 20px solid white;
}